@import './base.css';

#app {
  padding: 2rem 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.grid-2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.list-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;

  @media screen and (max-width: 991px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 440px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
}

.list-card .card {
  border: 1px solid #828181;
  border-radius: 16px;
  padding: 16px;
}

.list-card .card .btn {
  cursor: pointer;
  background-color: #222;
  border: none;
  color: #fff;
  margin: 0;
  outline: none;
  padding: 9px 20px 8px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  line-height: 1.6;
}

.list-card .card .btn:hover,
.list-card .card .btn:focus {
  opacity: 0.75;
}

.wrapper-loader {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper-loader .loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tools {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  margin: 24px 0;
  width: 100%;
  flex-wrap: wrap;
  @media screen and (max-width: 400px) {
    gap: 10px;
  }
}

.tools select {
  border-radius: 0;
  border: 1px solid #000;
  padding: 5px;
}

.tools button {
  cursor: pointer;
  background-color: #222;
  border: none;
  color: #fff;
  margin: 0;
  outline: none;
  padding: 8px 20px 8px;
  text-align: center;
  text-transform: uppercase;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  line-height: 1.6;
  @media screen and (max-width: 400px) {
    font-size: 12px;
    padding: 8px 12px 8px;
  }
}

.tools button.filter {
  background-color: orange;
  width: 100%;
  max-width: max-content;
}

.type {
  .red {
    color: red;
  }

  .blue {
    color: blue;
  }

  .green {
    color: green;
  }

  .orange {
    color: orange;
    background-color: #000;
    padding: 0 5px;
  }

  .yellow {
    color: yellow;
    background-color: #000;
    padding: 0 5px;
  }

  .ice {
    color: cadetblue;
  }

  .poison {
    color: purple;
  }

  .ground {
    color: brown;
  }

  .fly {
    color: darkseagreen;
  }

  .psychic {
    color: darkslategrey;
  }

  .bug {
    color: cyan;
  }

  .rock {
    color: darkgoldenrod;
  }

  .ghost {
    color: ghostwhite;
    background: #000;
    padding: 0 5px;
  }

  .dark {
    color: black;
  }

  .dragon {
    color: deeppink;
  }

  .steel {
    color: gray;
  }

  .fairy {
    color: palevioletred;
  }
}

.info {
  display: grid;
  grid-template-columns: 200px 1fr;
  @media screen and (max-width: 575px) {
    grid-template-columns: 100px 1fr;
  }
  @media screen and (max-width: 420px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
}

.info img {
  @media screen and (max-width: 420px) {
    margin: auto;
  }
}

.info .total {
  color: red;
}
